<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <h1 class="h2">FeelFood <small style="float: right"> feel free to contact us</small></h1>
      </div>
    </div>
  </div>
  <div class="jumbotron" style="background: #E9E9E5;">
    <div class="row">
      <div class="col-md-6">
        <div class="input-form">
          <form [formGroup]="contactForm" (submit)="contactSend(option.value)">
            <div class="form-group" [ngClass]="{'has-danger': (contactForm.controls.name.errors && contactForm.controls.name.dirty), 'has-success': !contactForm.controls.name.errors}">
              <label for="name">
                Name</label>
              <input type="text" id="name" name="name" placeholder="Your name" class="form-control" [ngClass]="{'is-invalid': (contactForm.controls.name.errors && contactForm.controls.name.dirty), 'is-valid': !contactForm.controls.name.errors}"
                     autocomplete="off" formControlName="name" />
              <ul class="help-block">
                <li *ngIf="contactForm.controls.name.errors?.required && contactForm.controls.name.dirty">This field is required</li>
                <li *ngIf="(contactForm.controls.name.errors?.maxlength && contactForm.controls.name.dirty ) && contactForm.controls.name.dirty">Maximum characters: 15</li>
              </ul>
            </div>
            <label for="email">
              Email</label>
            <div class="input-group mb-3" id="email">
              <div class="input-group-prepend">
                <span class="input-group-text"><span class="fa fa-envelope"></span></span>
              </div>
              <input type="text" name="email" class="form-control" [ngClass]="{'is-invalid': (contactForm.controls.email.errors && contactForm.controls.email.dirty), 'is-valid': !contactForm.controls.email.errors}"
                     autocomplete="off" placeholder="example@gmail.com" formControlName="email" />
            </div>
            <ul class="help-block">
              <li *ngIf="contactForm.controls.email.errors?.required && contactForm.controls.email.dirty">This field is required</li>
              <li *ngIf="contactForm.controls.email.errors?.validateEmail && contactForm.controls.email.dirty">This must be a valid e-mail</li>
            </ul>
            <div class="form-group">
              <label for="subject">
                Subject</label>
              <select id="subject" name="subject" class="form-control" required #option>
                <option value="" selected="disabled">Choose One:</option>
                <option value="Information">Information</option>
                <option value="Suggestions">Suggestions</option>
                <option value="Order problem">Order problem</option>
              </select>
            </div>
            <input [disabled]="!contactForm.valid" type="submit" class="btn btn-outline-primary btn-lg" value="Contact" />
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-form">
          <form [formGroup]="contactForm">
          <div class="form-group" [ngClass]="{'has-danger': (contactForm.controls.message.errors && contactForm.controls.message.dirty), 'has-success': !contactForm.controls.message.errors}">
            <label for="message">
              Message</label>
            <textarea name="message" id="message" class="form-control" [ngClass]="{'is-invalid': (contactForm.controls.message.errors && contactForm.controls.name.dirty), 'is-valid': !contactForm.controls.message.errors}" rows="9" cols="25" required="required" placeholder="Max 1000 characters" formControlName="message"></textarea>
            <ul class="help-block">
              <li *ngIf="contactForm.controls.message.errors?.required && contactForm.controls.message.dirty">Message is required</li>
              <li *ngIf="(contactForm.controls.message.errors?.maxlength && contactForm.controls.message.dirty ) && contactForm.controls.message.dirty">Maximum characters: 1000</li>
            </ul>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal #modal>
  <div class="app-modal-header">
    <h5>Information</h5>
  </div>
  <div class="app-modal-body">
    <strong class={{messageClass}}>{{message}}</strong>
  </div>
</app-modal>
