<div class="jumbotron">
  <div class="progress" *ngIf="!restaurant.username && !user.username">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
      aria-valuemax="100" style="width: 100%">LOADING
    </div>
  </div>

  <ng-container *ngIf="user.username">
    <h2>Hello, {{user.username}}</h2>
    <p class="lead">Welcome to your dashboard.</p>
    <hr class="my-4">
    <div class="row">
      <div class="col-sm-4">
        <div class="jumbotron" style="background: #E9E9E5;">
          <img *ngIf="!user.avatar" src="assets/defaultAvatar.png" class="rounded-circle" alt="Avatar">
          <img *ngIf="user.avatar" src="{{user.avatar}}" class="rounded-circle" alt="Avatar">
          <hr class="my-4">
          <h4 *ngIf="user.firstName || user.lastName">{{user.firstName}} {{user.lastName}}, {{user.username}}</h4>
          <h5 class="text-muted">{{user.email}}</h5>
          <p>Member since:
            <strong>{{signupDate}}</strong>
          </p>
          <small *ngIf="user.lastLogin">Last login: {{lastLogin}}</small>
          <hr class="my-4">
          <p>My addresses:</p>
          <ul class="list-group">
            <li class="list-group-item" *ngIf="!user.locations[0]">
              <em>No addresses defined.</em>
            </li>
            <li class="list-group-item" *ngFor="let location of user.locations">
              <strong>
                <em>{{location.locationName}}:</em>
              </strong>
              <h6>{{location.address}}</h6>
              <h6>{{location.city}}, {{location.postalCode}} {{location.country}}</h6>
            </li>
          </ul>
          <hr class="my-4">
          <p>My allergies:</p>
          <ul class="list-group">
            <li class="list-group-item">
              <em *ngIf="!user.allergies[0]">No allergies defined.</em>
              <h6 *ngFor="let allergy of user.allergies">- {{allergy.name}}</h6>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="jumbotron" style="background: #E9E9E5;">
          <h4>Orders in progress</h4>
          <hr class="my-4">
          <div class="list-group" *ngIf="user.orders[0]">
            <a *ngFor="let order of user.orders" [routerLink]="['/order', order._id]" routerLinkActive="active" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><strong>{{order.restaurant}}</strong></h5>
                <small>Last update: {{order.status[order.status.length - 1].dataState | date : "d/M/y H:mm 'h'"}}</small>
              </div>
              <p class="mb-1">{{order.totalPrice}} &euro;</p>
              <p class="text-muted">{{order.createDate | date : "d'/'M'/'y"}}</p>
              <p class="mb-1">Current state: <strong>{{order.status[order.status.length - 1].state}}</strong></p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="restaurant.username">
    <h2>Hello, {{restaurant.username}}</h2>
    <p class="lead">Welcome to your dashboard.</p>
    <hr class="my-4">
    <div class="row">
      <div class="col-sm-4">
        <div class="jumbotron" style="background: #E9E9E5;">
          <img *ngIf="!restaurant.avatar" src="assets/defaultAvatar.png" class="rounded-circle" alt="Avatar">
          <img *ngIf="restaurant.avatar" src="{{restaurant.avatar}}" class="rounded-circle" alt="Avatar">
          <hr class="my-4">
          <h4 *ngIf="restaurant.name">{{restaurant.name}}</h4>
          <h5 class="text-muted">{{restaurant.email}}</h5>
          <h6 class="lead">{{restaurant.phone}}</h6>
          <p>Member since:
            <strong>{{signupDate}}</strong>
          </p>
          <small *ngIf="restaurant.lastLogin">Last login: {{lastLogin}}</small>
          <hr class="my-4">
          <p>My address:</p>
          <ul class="list-group">
            <li class="list-group-item" *ngIf="!restaurant.locations[0]">
              <em>No address defined.</em>
            </li>
            <li class="list-group-item" *ngFor="let location of restaurant.locations">
              <strong>
                <em>{{location.locationName}}:</em>
              </strong>
              <h6>{{location.address}}</h6>
              <h6>{{location.city}}, {{location.postalCode}} {{location.country}}</h6>
            </li>
          </ul>
          <hr class="my-4">
        </div>
      </div>
      <div class="col-sm-8">
        <div class="jumbotron" style="background: #E9E9E5;">
          <h4>Orders</h4>
          <hr class="my-4">
          <div class="list-group" *ngIf="restaurant.orders[0]">
            <a *ngFor="let order of restaurant.orders" (click)="updateState(order)" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="row">
                <div class="col-sm-6">
                  <small>Last update: {{order.status[order.status.length - 1].dataState | date : "d/M/y H:mm"}}</small>
                  <h6 class="mb-1"><strong>Current state: </strong>{{order.status[order.status.length - 1].state}}</h6>
                  <hr class="my-4">
                  <h6 class="mb-1"><strong>Deliver on: </strong>{{order.deliveryDate | date : "d/M/y H:mm"}}</h6>
                  <h6 class="mb-1"><em>{{order.firstName}} {{order.lastName}}, {{order.userName}}  </em></h6>
                  <h6 class="text-muted" style="text-align:left;">{{order.user_location.address}}</h6>
                  <h6 class="text-muted">{{order.user_location.city}}, {{order.user_location.postalCode}} {{order.user_location.country}}</h6>
                  <hr class="my-4">
                  <h6 class="mb-1"><strong>Comments:</strong></h6>
                  <h6 class="mb-1">{{order.comment}}</h6>
                </div>
                <div class="col-sm-6">
                  <div class="card text-white bg-success mb-3" style="max-width: 100%;">
                    <div class="card-header"><strong>Order summary</strong></div>
                    <div class="card-body">
                      <ng-container *ngFor="let menu of order.menusDetails">
                        <em style="text-align:left;" >&#9725; Menu: {{menu.name}}
                          <span style="float:right;">{{menu.price}}</span>
                        </em>
                        <h6 style="text-align:left;" *ngFor="let starter of menu.starters">&#9725; {{starter.name}}
                          <span style="float:right;">{{starter.price}}</span>
                        </h6>
                        <h6 style="text-align:left;" *ngFor="let firstOptions of menu.firstOptions">&#9725; {{firstOptions.name}}
                          <span style="float:right;">{{firstOptions.price}}</span>
                        </h6>
                        <h6 style="text-align:left;" *ngFor="let secondOptions of menu.secondOptions">&#9725; {{secondOptions.name}}
                          <span style="float:right;">{{secondOptions.price}}</span>
                        </h6>
                        <h6 style="text-align:left;" *ngFor="let thirdOptions of menu.thirdOptions">&#9725; {{thirdOptions.name}}
                          <span style="float:right;">{{thirdOptions.price}}</span>
                        </h6>
                        <h6 style="text-align:left;" *ngFor="let drinksOptions of menu.drinksOptions">&#9725; {{drinksOptions.name}}
                          <span style="float:right;">{{drinksOptions.price}}</span>
                        </h6>
                        <h6 style="text-align:left;" *ngFor="let othersOptions of menu.othersOptions">&#9725; {{othersOptions.name}}
                          <span style="float:right;">{{othersOptions.price}}</span>
                        </h6>
                      </ng-container>
                      <em>Others dishes:</em>
                      <h6 style="text-align:left;" *ngFor="let dish of order.dishesDetails">&#9725; {{dish.name}}
                        <span style="float:right;">{{dish.price}}</span>
                      </h6>
                      <hr class="my-4">
                      <h5 style="text-align:left;"><strong>Total:
                        <span style="float:right;">{{order.totalPrice}} &euro;</span></strong>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<app-modal #modal>
  <div class="app-modal-header">
    <h5>Information</h5>
  </div>
  <div class="app-modal-body">
    <strong>Please, complete your profile.</strong>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="redirect()">Continue</button>
  </div>
</app-modal>

<app-modal #modalOrder>
  <div class="app-modal-header">
    <h5>Order states</h5>
  </div>
  <div class="app-modal-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">State</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let status of orderStatus">
        <td class="text-muted">{{status.state}}</td>
        <td class="text-muted">{{status.dataState | date : "d/M/y H:mm"}}</td>
      </tr>
      </tbody>
    </table>
    <div class="form-group">
      <label for="Select">New state:</label>
      <select #state class="form-control" id="Select">
        <option *ngIf="!isProcessed">Refused</option>
        <option *ngIf="!isProcessed">Accepted</option>
        <option *ngIf="isProcessed">Delivered</option>
      </select>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="orderUpdate(state.value)">Change</button>
  </div>
</app-modal>

<app-modal #modalOrderEnd>
    <div class="app-modal-header">
      <h5>Order states</h5>
    </div>
    <div class="app-modal-body">
      <h5>The order was {{orderNow}}</h5>
    </div>
  </app-modal>

<router-outlet></router-outlet>
