<button class="btn btn-primary">Create new user</button>
<table class="admin-table table-bordered table-striped table-hover table-condensed" id="user-list">
  <tr style="background-color:#AAA">
    <th>Username</th>
    <th>First Name</th>
    <th>Second Name</th>
    <th>Email</th>
    <th>Manage user</th>
  </tr>
  <tr *ngFor="let user of users">
    <th>{{ user['username'] }}</th>
    <th>{{ user['firstName'] }}</th>
    <th>{{ user['lastName'] }}</th>
    <th>{{ user['email'] }}</th>
    <th>
      <button class="btn btn-sm btn-primary">Edit</button>
      <button class="btn btn-sm  btn-danger" (click)="deleteUser(user['_id'])">Delete</button>
    </th>
  </tr>
</table>



