<div class="jumbotron restaurantSummary" *ngIf="restaurant">
  <h4 class="display-4">{{restaurant?.name}}</h4>
  <hr class="my-4">
  <table>
    <tr>
      <td class="contact-summary">
        <div class="contact-info">
          <h5>Address:</h5>
          <p *ngIf="restaurant.locations[0]" class="lead">{{restaurant.locations[0]?.address}}
            <br> {{restaurant.locations[0]?.city}}, {{restaurant.locations[0]?.country}} {{restaurant.locations[0]?.postalCode}}</p>
          <p *ngIf="!restaurant.locations[0]">(not defined)</p>
          <h5>Phone:</h5>
          <p class="lead">{{restaurant?.phone}}</p>
          <p *ngIf="!restaurant.phone">(not defined)</p>
          <h5>Email:</h5>
          <p class="lead">{{restaurant?.email}}</p>
          <p *ngIf="!restaurant.email">(not defined)</p>
        </div>

        <hr class="my-4">
      </td>
      <td>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" *ngIf="restaurant.images" style="margin-top: -80px">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item" *ngFor="let image of restaurant.images; let i = index" [class.active]="i == 0">
              <img class="d-block img-fluid" src="{{image}}" alt="{{i}}">
            </div>
          </div>
          <div class="btn-control-carousel" [hidden]="this.route.component['name'] == 'HomeComponent'">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </td>
    </tr>
    <tr>
        <div class="rated-item">
            <div *ngFor="let rating of restaurant.ratings">
              <app-rating [max]="5" [ratedValue]= rating.value
               [readonly]="true"
                [iconClass]= rating.key>
              </app-rating>
            </div>
          </div>
    </tr>
  </table>
</div>
