<link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.css">
<div>
  <td>
    <tr>
      <app-restaurant [profile]="false" routerLink="restaurantProfile"></app-restaurant>
    </tr>
    <tr>
      <app-restaurant [profile]="false" routerLink="restaurantProfile"></app-restaurant>
    </tr>
    <tr>
      <app-restaurant [profile]="false" routerLink="restaurantProfile"></app-restaurant>
    </tr>
  </td>
  <td>
    <tr>
      <app-restaurant [profile]="false" routerLink="restaurantProfile"></app-restaurant>
    </tr>
    <tr>
      <app-restaurant [profile]="false" routerLink="restaurantProfile"></app-restaurant>
    </tr>
    <tr>
      <app-restaurant [profile]="false"></app-restaurant>
    </tr>
  </td>
</div>
