div.success{
  color: #fff;
  background-color: #2EB872;
  border-color: #598943;
}
div.div-map{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 450px;
  height: 300px;
}

div.item-restaurant{
  max-width: 950px;
  min-width: 430px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

div.center-items{
  max-height: 550px;
  max-width: 950px;
  min-width: 430px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
