<form class="form-profile">
  <ul class="nav nav-tabs form-selector">
    <li class="nav-item" (click)="changeShowStatus('showProfile')">
      <a class="nav-link active" data-toggle="tab">Profile</a>
    </li>
    <li class="nav-item" (click)="changeShowStatus('showAddress')">
      <a class="nav-link active" data-toggle="tab">Address</a>
    </li>
    <li class="nav-item" (click)="changeShowStatus('showAccount')">
      <a class="nav-link active">Account</a>
    </li>
    <li class="nav-item" (click)="changeShowStatus('showAllergies')">
      <a class="nav-link active" data-toggle="tab">Allergies</a>
    </li>
  </ul>


  <div class="jumbotron">
      <div class="progress" *ngIf="!user">          
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">LOADING</div>
        </div>
    <form class="form-data" *ngIf="user">

      <div class="update-profile" [hidden]="!showItemDictionary.showProfile">
        <div class="component-title">
          <h2 class="display-5">User Profile</h2>
          <p>
            <i>Edit your data</i>
          </p>
        </div>
        <div class="input-form">
          <label class="col-form-label">
            <strong>Username</strong>
          </label>
          <input class="form-control" id="readOnlyInput" type="text" placeholder="{{user.username}}" readonly="" #username>

          <label class="col-form-label">
            <strong>First name</strong>
          </label>
          <input type="text" class="form-control" [(ngModel)]="user.firstName" name="firstName" /> 
          <label class="col-form-label">
            <strong>Last name</strong>
          </label>
          <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastname" /> 
        </div>
        <button type="button" (click)="updateUser()" class="btn btn-outline-info">Update</button>
      </div>

      <div class="update-address" [hidden]="!showItemDictionary.showAddress">
        <div class="component-title">
          <h2 class="display-5">User Address</h2>
          <p>
            <i>Edit your address</i>
          </p>
        </div>
        <div *ngFor="let location of user.locations">          
              <h3>{{location.locationName}}</h3>            
          <div>            
              <p>Address: {{location.address}}</p>
              <p>Postal code: {{location.postalCode}}</p>
              <p>Country: {{location.country}}</p>
              <p>City: {{location.city}}</p>  
          </div>          
        </div>
      </div>

      <div class="update-account" [hidden]="!showItemDictionary.showAccount">
        <div class="component-title">
          <h2 class="display-5">User Account</h2>
          <p>
            <i>Edit your account</i>
          </p>
        </div>
        <div class="update-password">
          <div class="update-password">
            <div class="input-form">
              <label class="col-form-label">
                <strong> Password</strong>
              </label>
              <input type="password" class="form-control" #oldPassword/>
              <label class="col-form-label">
                <strong>New Password</strong>
              </label>
              <input type="password" class="form-control" #newPassword/>
              <label class="col-form-label">
                <strong>New Password Confirmation</strong>
              </label>
              <input type="password" class="form-control" #newPasswordConfirmation/>
            </div>
            <button type="button" (click)="updateUser()" class="btn btn-outline-info">Update</button>
          </div>
        </div>

        <div class="update-email">
          <div class="input-form">
            <label class="col-form-label">
              <strong>Old Email</strong>
            </label>
            <input type="text" class="form-control" [(ngModel)]="user.email" name="oldEmail"/>
            <label class="col-form-label">
              <strong>New Email</strong>
            </label>
            <input type="text" class="form-control" #newEmail/>
          </div>
          <button type="button" (click)="updateUser()" class="btn btn-outline-info">Update</button>
        </div>

        <div class="remove-account">
          <button type="button" class="btn btn-danger">Delete</button>
          <div class="input-form">
          </div>
        </div>
      </div>

      <div class="update-allergies" [hidden]="!showItemDictionary.showAllergies">
        <div class="component-title">
          <h2 class="display-5">User Allergies</h2>
          <p>
            <i>Edit your allergies</i>
          </p>
        </div>
        <table *ngFor="let allergie of user.allergies">
          <li>{{allergie}}</li>
          </table>
      </div>


    </form>
  </div>
</form>