.form-profile{
  height: auto;
  max-width: 950px;
  min-width: 430px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.form-selector .nav-tabs .nav-item {
  margin-bottom: -4px;
}

div.component-title{
  text-align: center;    
}

div.input-form{
  margin-bottom: 10px;
}

div.selectedAddressValues {
  margin-top: 30px;
  margin-bottom: 30px;  
}

ul.nav.nav-tabs.form-selector {
  margin-bottom: -4px;
}