<app-modal #modalDelete>
  <div class="app-modal-header">
    <h5>Delete account</h5>
  </div>
  <div class="app-modal-body">
    <strong>Are you sure to delete your account?</strong>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-outline-danger btn-lg" (click)="deleteRestaurant()">Confirm delete</button>
    <button type="button" class="btn btn-outline-primary btn-lg" (click)="modalDelete.hide()">Close</button>
  </div>
</app-modal>

<app-modal #modal>
  <div class="app-modal-header">
    <h5>Information</h5>
  </div>
  <div class="app-modal-body">
    <strong>{{message}}</strong>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-outline-primary btn-lg" (click)="modal.hide()">Close</button>
  </div>
</app-modal>

<form class="form-profile">
  <ul class="nav nav-tabs">
    <li class="nav-item" (click)="changeShowStatus('showProfile')">
      <a class="nav-link active" data-toggle="tab">Profile</a>
    </li>
    <li class="nav-item" (click)="changeShowStatus('showAddress')">
      <a class="nav-link active" data-toggle="tab">Address</a>
    </li>
    <li class="nav-item" (click)="changeShowStatus('showAccount')">
      <a class="nav-link active">Account</a>
    </li>
    <li class="nav-item" (click)="changeShowStatus('showMenus')">
      <a class="nav-link active" data-toggle="tab">Menus</a>
    </li>
    <li class="nav-item" (click)="changeShowStatus('showDishes')">
      <a class="nav-link active" data-toggle="tab">Carta</a>
    </li>
  </ul>


  <div class="jumbotron">
    <div class="progress" *ngIf="!restaurant">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
        aria-valuemax="100" style="width: 100%">LOADING</div>
    </div>
    <form class="form-data" *ngIf="restaurant">

      <div class="update-profile" [hidden]="!showItemDictionary.showProfile">
        <div class="component-title">
          <h2 class="display-5">Restaurant Profile</h2>
          <p>
            <i>Edit your data</i>
          </p>
        </div>
        <div class="input-form">
          <label class="col-form-label">
            <strong>Username</strong>
          </label>
          <input class="form-control" id="readOnlyInput" type="text" placeholder="{{restaurant.username}}" readonly="" #username>
          <form [formGroup]="profileForm" (submit)="updateName()">
            <label class="col-form-label">
              <strong>Restaurant Name: {{restaurant.name}}</strong>
            </label>
            <div class="form-group" [ngClass]="{'has-danger': (profileForm.controls.restaurantName.errors && profileForm.controls.restaurantName.dirty), 'has-success': !profileForm.controls.restaurantName.errors}">
              <input type="text" name="restaurantName" class="form-control" [ngClass]="{'is-invalid': (profileForm.controls.restaurantName.errors && profileForm.controls.restaurantName.dirty), 'is-valid': !profileForm.controls.restaurantName.errors}"
                autocomplete="off" formControlName="restaurantName" />
              <ul class="help-block">
                <li *ngIf="profileForm.controls.restaurantName.errors?.required && profileForm.controls.restaurantName.dirty">This field is required</li>
                <li *ngIf="profileForm.controls.restaurantName.errors?.maxlength && profileForm.controls.restaurantName.dirty">Maximum characters: 20</li>
              </ul>
            </div>
            <div class="form-group" [ngClass]="{'has-danger': (profileForm.controls.phone.errors && profileForm.controls.phone.dirty), 'has-success': !profileForm.controls.phone.errors}">
              <label class="col-form-label">
                <strong>Phone Number: {{restaurant.phone}}</strong>
              </label>
              <input type="text" name="phone" class="form-control" [ngClass]="{'is-invalid': (profileForm.controls.phone.errors && profileForm.controls.phone.dirty), 'is-valid': !profileForm.controls.phone.errors}"
                autocomplete="off" formControlName="phone" />
              <ul class="help-block">
                <li *ngIf="profileForm.controls.phone.errors?.required && profileForm.controls.phone.dirty">This field is required</li>
                <li *ngIf="profileForm.controls.phone.errors?.validatePhoneNumber && profileForm.controls.phone.dirty">This must be a valid phone number</li>
              </ul>
            </div>
            <input [disabled]="!profileForm.valid" type="submit" class="btn btn-outline-info" value="Update" />
          </form>
        </div>
      </div>

      <div class="update-address" [hidden]="!showItemDictionary.showAddress">
        <div class="component-title">
          <h2 class="display-5">Restaurant Address</h2>
          <p>
            <i>Edit your address</i>
          </p>
        </div>
        <div *ngIf="restaurant.locations" class="table-responsive">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Zip code</th>
                <th>Country</th>
              </tr>
            </thead>
            <tbody *ngFor="let location of restaurant.locations">
              <tr>
                <th>
                  <input type="radio" (click)="selectedAddress(location['locationName'])">
                </th>
                <th>{{ location['locationName'] }}</th>
                <th>{{ location['address'] }}</th>
                <th>{{ location['city'] }}</th>
                <th>{{ location['postalCode'] }}</th>
                <th>{{ location['country'] }}</th>
              </tr>
            </tbody>
          </table>
          <p *ngIf="!restaurant.locations">No addresses defined.</p>
        </div>
        <button *ngIf="!restaurant.locations.length > 0" type="button" (click)="changeShowStatus('showAddAddress')" class="btn btn-outline-info">Add</button>
        <button *ngIf="restaurant.locations.length > 0" type="button" (click)="deleteAddress()" class="btn btn-outline-info">Delete</button>
      </div>

      <div class="addAddress" [hidden]="!showItemDictionary.showAddAddress">
          <div class="component-title">
            <h2 class="display-5">User Address</h2>
            <p>
              <i>Edit your address</i>
            </p>
          </div>
          <form (submit)="updateAddress()">
            <app-map *ngIf="showItemDictionary.showAddAddress" (addressCompletedOut)="addressCompleted=$event"></app-map>
            <div class="selectedAddressValues">
              <fieldset>
                <label for="control-label" for="readOnlyInput-Address">Address name:</label>
                <input type="email" class="form-control" id="addressName" placeholder="Enter an address name" [(ngModel)]="addressCompleted.locationName" name="locationName">
              </fieldset>
              <fieldset>
                <label class="control-label" for="readOnlyInput-Address">Address</label>
                <input class="form-control" id="readOnlyInput-Address" type="text" placeholder="{{addressCompleted?.address}}" readonly="">
              </fieldset>
              <fieldset>
                <label class="control-label" for="readOnlyInput-Street">Street number</label>
                <input class="form-control" id="readOnlyInput-Street" type="text" placeholder="{{addressCompleted?.streetNumber}}" readonly="">
              </fieldset>
              <fieldset>
                <label class="control-label" for="readOnlyInput-City">City</label>
                <input class="form-control" id="readOnlyInput-City" type="text" placeholder="{{addressCompleted?.city}}" readonly="">
              </fieldset>
              <fieldset>
                <label class="control-label" for="readOnlyInput-Postal">Postal code</label>
                <input class="form-control" id="readOnlyInput-Postal" type="text" placeholder="{{addressCompleted?.postalCode}}" readonly="">
              </fieldset>
              <fieldset>
                <label class="control-label" for="readOnlyInput-Country">Country</label>
                <input class="form-control" id="readOnlyInput-Country" type="text" placeholder="{{addressCompleted?.country}}" readonly="">
              </fieldset>
            </div>
            <!--          <input [disabled]="addressCompleted?.route == undefined" type="submit" class="btn btn-outline-primary btn-lg" value="Submit" /> -->
            <button type="button" class="btn btn-outline-primary btn-lg" [disabled]="addressCompleted?.address == undefined" [disabled]="addressCompleted?.locationName.length == 0" (click)="updateAddress()">Add</button>
            <button type="button" class="btn btn-outline-danger" (click)="changeShowStatus('showAddress')">Cancel</button>
          </form>
        </div>

      <div class="update-account" [hidden]="!showItemDictionary.showAccount">
        <div class="component-title">
          <h2 class="display-5">User Account</h2>
          <p>
            <i>Edit your account</i>
          </p>
        </div>
        <form [formGroup]="passwordForm" (submit)="updatePassword()">
          <div class="form-group" [ngClass]="{'has-danger': (passwordForm.controls.password.errors && passwordForm.controls.password.dirty), 'has-success': !passwordForm.controls.password.errors}">
            <label class="col-form-label">
              <strong>Password</strong>
            </label>
            <input type="password" name="password" class="form-control" [ngClass]="{'is-invalid': (passwordForm.controls.password.errors && passwordForm.controls.password.dirty), 'is-valid': !passwordForm.controls.password.errors}"
              autocomplete="off" placeholder="Insert new password" formControlName="password" />
            <!-- Validation -->
            <ul class="help-block">
              <li *ngIf="passwordForm.controls.password.errors?.required && passwordForm.controls.password.dirty">This field is required</li>
              <li *ngIf="passwordForm.controls.password.errors?.minlength && passwordForm.controls.password.dirty">Password must have at least 8 characters</li>
            </ul>
          </div>
          <div class="form-group" [ngClass]="{'has-danger': (passwordForm.controls.confirm.errors && passwordForm.controls.confirm.dirty) || (passwordForm.errors?.matchingPasswords && passwordForm.controls.confirm.dirty), 'has-success': !passwordForm.controls.confirm.errors && !passwordForm.errors?.matchingPasswords}">
            <label class="col-form-label">
              <strong>Confirm password</strong>
            </label>
            <input type="password" name="confirm" class="form-control" [ngClass]="{'is-invalid': (passwordForm.controls.confirm.errors && passwordForm.controls.confirm.dirty) || (passwordForm.errors?.matchingPasswords && passwordForm.controls.confirm.dirty), 'is-valid': !passwordForm.controls.confirm.errors && !passwordForm.errors?.matchingPasswords}"
              autocomplete="off" placeholder="Repeat new password" formControlName="confirm" />
            <!-- Validation -->
            <ul class="help-block">
              <li *ngIf="passwordForm.controls.confirm.errors?.required && passwordForm.controls.confirm.dirty">This field is required</li>
              <li *ngIf="passwordForm.errors?.matchingPasswords && passwordForm.controls.confirm.dirty">Password do not match</li>
            </ul>
          </div>
          <input [disabled]="!passwordForm.valid" type="submit" class="btn btn-outline-info" value="Change password" />
        </form>
        <div class="update-email">
          <div class="input-form">
            <label class="col-form-label">
              <strong>Old E-mail</strong>
            </label>
            <input type="text" class="form-control" [(ngModel)]="restaurant.email" readonly="" name="oldEmail" />
          </div>
        </div>
        <form [formGroup]="emailForm" (submit)="updateEmail()">
          <label class="col-form-label">
            <strong>New E-mail</strong>
          </label>
          <div class="form-group" [ngClass]="{'has-danger': (emailForm.controls.email.errors && emailForm.controls.email.dirty) || emailForm.controls.email.dirty, 'has-success': !emailForm.controls.email.errors && emailValid}">
            <input type="text" name="email" class="form-control" [ngClass]="{'is-invalid': (emailForm.controls.email.errors && emailForm.controls.email.dirty) || emailForm.controls.email.dirty, 'is-valid': !emailForm.controls.email.errors && emailValid}"
              autocomplete="off" placeholder="Insert new E-mail" formControlName="email" />
            <ul class="help-block">
              <li *ngIf="emailForm.controls.email.errors?.required && emailForm.controls.email.dirty">This field is required</li>
              <li *ngIf="(emailForm.controls.email.errors?.minlength && emailForm.controls.email.dirty || emailForm.controls.email.errors?.maxlength && emailForm.controls.email.dirty ) && emailForm.controls.email.dirty">Minimum characters: 5, Maximum characters: 20</li>
              <li *ngIf="emailForm.controls.email.errors?.validateEmail && emailForm.controls.email.dirty">This must be a valid e-mail</li>
            </ul>
          </div>
          <input [disabled]="!emailForm.valid" type="submit" class="btn btn-outline-info" value="Update" />
          <button type="button" (click)="modalDelete.show()" class="btn btn-outline-danger btn-lg">Delete</button>
        </form>
      </div>

      <div class="update-menu" [hidden]="!showItemDictionary.showMenus">
        <div class="component-title">
          <h2 class="display-5">Restaurant Menus</h2>
          <p>
            <i>Edit your Menus</i>
          </p>
          <button class="btn btn-success" (click)="ShowMenu()" *ngIf="!addMenu">Add Menu</button>
        </div>
        <div *ngIf="!addMenu">
          <table class="table table-striped table-hover table-bordered" *ngFor="let menu of restaurant.menus">
            <h2>{{menu.name}}</h2>
            <div>
              <i>Price:{{menu.price}}€</i>
              <button (click)="deleteMenu(menu._id)" class="btn btn-danger">Delete Menu</button>
            </div>
            <h3>Starters</h3>
            <app-dish [restaurant]="restaurant" [menuName]="menu.name" [dishes]="menu.starters" [currentList]="'starters'"></app-dish>
            <h3>First Options</h3>
            <app-dish [restaurant]="restaurant" [menuName]="menu.name" [dishes]="menu.firstOptions" [currentList]="'firstOptions'"></app-dish>
            <h3>Second Options</h3>
            <app-dish [restaurant]="restaurant" [menuName]="menu.name" [dishes]="menu.secondOptions" [currentList]="'secondOptions'"></app-dish>
            <h3>Third Options</h3>
            <app-dish [restaurant]="restaurant" [menuName]="menu.name" [dishes]="menu.thirdOptions" [currentList]="'thirdOptions'"></app-dish>
            <h3>Drinks</h3>
            <app-dish [restaurant]="restaurant" [menuName]="menu.name" [dishes]="menu.drinksOptions" [currentList]="'drinksOptions'"></app-dish>
          </table>
        </div>

        <div align="center" *ngIf="addMenu" class="border-dark">
          <th>
            <label>Name of the Menu</label>
            <input [(ngModel)]="menu.name" class="form-control" name="nameDish">
          </th>
          <th>
            <label>Price</label>
            <input [(ngModel)]="menu.price" type="number" class="form-control" name="amountDish">
          </th>
          <th>
            <label>Visible </label>
            <input type="checkbox" [(ngModel)]="menu.visible" name="visible">
          </th>
          <th>
            <button (click)="createMenu()" class="btn btn-success">Create</button>
          </th>
          <th>
            <button (click)="ShowMenu()" class="btn btn-danger btn-lg">Cancel</button>
          </th>
          <div class="container" align="left">
            <strong>Description</strong>
            <input [(ngModel)]="menu.description" class="form-control" name="descriptionDish">
          </div>
          <div class="container" align="left">
            <strong>Comments</strong>
            <input [(ngModel)]="menu.comments" class="form-control" name="descriptionDish">
          </div>
        </div>

      </div>
      <div align="center" class="update-allergies" [hidden]="!showItemDictionary.showDishes">
        <h2 class="display-5">Restaurant Dishes</h2>
        <p>
          <i>Edit your Dishes</i>
        </p>
        <app-dish [restaurant]="restaurant"></app-dish>
      </div>
    </form>
  </div>
</form>