.form-profile{
  max-width: 950px;
  min-width: 430px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.nav-tabs .nav-item {
  margin-bottom: -4px;
}

div.component-title{
  text-align: center;
}

div.input-form{
  margin-bottom: 10px;
}
