.restaurantServices {
    height: auto;
    width: 820px;
    min-width: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.btn-options-services{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
}