<form class="form-welcome">
  <ul class="nav nav-tabs">
    <li class="nav-item" (click)="changeShowStatus()">
      <a class="nav-link active" data-toggle="tab">Login</a>
    </li>
    <li class="nav-item" (click)="changeShowStatus()">
      <a class="nav-link active">Signup</a>
    </li>
  </ul>

  <div class="jumbotron">
    <div class="company-title">
      <h2 class="display-3">Feel Food</h2>
      <p>
        <i>Take it easy, enjoy life </i>
      </p>
    </div>
    <div class="form-group login-inputs" *ngIf="showLogin">
      <div class="input-form">
        <label class="col-form-label">Email</label>
        <input type="text" class="form-control" #email />
        <label class="col-form-label">Password</label>
        <input type="password" class="form-control" #password/>
      </div>
      <button type="button" (click)="loginSubmit(email.value, password.value)" class="btn btn-success">Login</button>
      <a href="http://localhost:3001/auth/facebook" class="btn btn-default">Login with Facebook</a>
    </div>

    <div class="form-group login-inputs" *ngIf="showSignup">
      <div class="input-form">
        <label class="col-form-label">Username</label>
        <input type="text" class="form-control" #username />
        <label class="col-form-label">Email</label>
        <input type="text" class="form-control" #email />
        <label class="col-form-label">Password</label>
        <input type="password" class="form-control" #password/>
      </div>
      <button type="button" (click)="singupSubmit(username.value, email.value, password.value)" class="btn btn-info">Signup</button>
      <a href="http://localhost:3001/auth/facebook" class="btn btn-default">Register with Facebook</a>
    </div>
  </div>
</form>
