<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.css" rel="stylesheet">

<div class="cart-component">
  <figure class="sidebar-filters">
      <h3>Search by:</h3>
      <!--<i class="material-icons" (click)="ChangeStatus()">close</i>-->
    <figcaption>

      <div class="price-slider form-group">
        <span class="title-section">Price:
          <i class="ion-ios-arrow-down right" *ngIf="!showItemDictionary.someRangePrice" (click)="changeShowStatus('someRangePrice')" ></i>
          <i class="ion-ios-arrow-up right" *ngIf="showItemDictionary.someRangePrice" (click)="changeShowStatus('someRangePrice')" ></i>
        </span>
        <div *ngIf="showItemDictionary.someRangePrice">
        <nouislider [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="someRangePrice" (ngModelChange)="onChange($event)"></nouislider>
        <span>Min:</span><input type="number" name="priceMin" [(ngModel)]="someRangePrice[0]" placeholder="0  " >
        <span>Max:</span><input type="number" name="priceMax" [(ngModel)]="someRangePrice[1]" placeholder="100" >
        </div>
      </div>

      <div class="price-slider form-group">
        <span class="title-section">Distance(Km):
          <i class="ion-ios-arrow-down right" *ngIf="!showItemDictionary.someRangeDistance" (click)="changeShowStatus('someRangeDistance')"></i>
          <i class="ion-ios-arrow-up right" *ngIf="showItemDictionary.someRangeDistance" (click)="changeShowStatus('someRangeDistance')"></i>
        </span>
        <div *ngIf="showItemDictionary.someRangeDistance">
        <nouislider [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="someRangeDistance" (ngModelChange)="onChange($event)"></nouislider>
          <span>Min:</span><input type="number" name="distanceMin" [(ngModel)]="someRangeDistance[0]" placeholder="0">
          <span>Max:</span><input type="number" name="distanceMax" [(ngModel)]="someRangeDistance[1]" placeholder="100">
        </div>
      </div>
      <form [formGroup]="searchDetails" (change)="searchByDetails()" (submit)="searchByDetails()">
      <div class="price-slider form-group" >
        <span class="title-section">Others:
          <i class="ion-ios-arrow-down right" *ngIf="!showItemDictionary.Others" (click)="changeShowStatus('Others')"></i>
          <i class="ion-ios-arrow-up right" *ngIf="showItemDictionary.Others" (click)="changeShowStatus('Others')"></i>
        </span>
        <div *ngIf="showItemDictionary.Others">
        <span> Home delivery: <input type="checkbox"  name="homeDelivery" formControlName="homeDelivery"></span>
        <span> Take away: <input type="checkbox"  name="takeAway" formControlName="takeAway"> </span>
        </div>
      </div>
      </form>
    </figcaption>
  </figure>
</div>
<input class="search" #serach list="nameList" type="search"  (keyup)="speedSearch(serach.value)" (change)="searchByName(serach.value)" placeholder="Serach">
<datalist id="nameList">
  <option *ngFor="let name of namesList" value="{{name.name}}">
</datalist>
<button (click)="searchByName(serach.value)" class="btn btn-info">Search</button>

<div class="item-restaurant" *ngFor="let restaurant of restaurants">
  <app-restaurantSummary [restaurantId]="restaurant._id" [routerLink]="['restaurant',restaurant._id]"></app-restaurantSummary>
</div>

