body {
  background-color: #f7ffef;
}

input{
  border:2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
}

input:focus{
  border-color: #3c5428;
  box-shadow:0 0 8px 0 #3c5428;
}

.ff-green{
  background-color: #3c5428;
  color: white;
}

