<div class="container">
  <div class="row">
    <div class="col-sg">
      <form (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Username" [(ngModel)]="data.username" />
        <input type="password" placeholder="Password" [(ngModel)]="data.password">
        <input type="password" placeholder="Repeat password">
        <input type="text" placeholder="First Name" [(ngModel)]="data.firstName">
        <input type="text" placeholder="Last Name" [(ngModel)]="data.lastName">
        <input type="text" placeholder="Email" [(ngModel)]="data.email">
        <input type="text" placeholder="Repeat email">
        <button type="submit" class="btn ff-green">Create account</button>
      </form>
    </div>
  </div>
</div>

