<div class="jumbotron vertical-center">
  <div class="container" style="max-width: 70%">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <h3 class="h2">Reset password</h3>
      </div>
    </div>

  <div class="jumbotron" style="background: #E9E9E5;">
    <div class="row">
      <div class="col-md-12">
        <div class="input-form">
          <form [formGroup]="passwordForm" (submit)="passwordSend()">
            <div class="form-group" [ngClass]="{'has-danger': (passwordForm.controls.password.errors && passwordForm.controls.password.dirty), 'has-success': !passwordForm.controls.password.errors}">
              <label for="password">
                New password</label>
              <input type="password" id="password" name="password" class="form-control" [ngClass]="{'is-invalid': (passwordForm.controls.password.errors && passwordForm.controls.password.dirty), 'is-valid': !passwordForm.controls.password.errors}"
                     autocomplete="off" placeholder="Insert password" formControlName="password" />
              <ul class="help-block">
                <li *ngIf="passwordForm.controls.password.errors?.required && passwordForm.controls.password.dirty">This field is required</li>
                <li *ngIf="passwordForm.controls.password.errors?.minlength && passwordForm.controls.password.dirty || passwordForm.controls.password.errors?.maxlength && passwordForm.controls.password.dirty">Password must have minimum characters: 8, maximum characters: 35</li>
              </ul>
            </div>
            <div class="form-group" [ngClass]="{'has-danger': (passwordForm.controls.confirm.errors && passwordForm.controls.confirm.dirty) || (passwordForm.errors?.matchingPasswords && passwordForm.controls.confirm.dirty), 'has-success': !passwordForm.controls.confirm.errors && !passwordForm.errors?.matchingPasswords}">
              <label for="confirm">
                Confirm password</label>
              <input type="password" id="confirm" name="confirm" class="form-control" [ngClass]="{'is-invalid': (passwordForm.controls.confirm.errors && passwordForm.controls.confirm.dirty) || (passwordForm.errors?.matchingPasswords && passwordForm.controls.confirm.dirty), 'is-valid': !passwordForm.controls.confirm.errors && !passwordForm.errors?.matchingPasswords}"
                     autocomplete="off" placeholder="Repeat password" formControlName="confirm" />
              <!-- Validation -->
              <ul class="help-block">
                <li *ngIf="passwordForm.controls.confirm.errors?.required && passwordForm.controls.confirm.dirty">This field is required</li>
                <li *ngIf="passwordForm.errors?.matchingPasswords && passwordForm.controls.confirm.dirty">Password do not match</li>
              </ul>
            </div>
            <input [disabled]="!passwordForm.valid" type="submit" style="float: right" class="btn btn-outline-primary btn-lg" value="Send" />
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<app-modal #modal>
  <div class="app-modal-header">
    <h5>Information</h5>
  </div>
  <div class="app-modal-body">
    <strong class={{messageClass}}>{{message}}</strong>
  </div>
</app-modal>
